body{
  font-family:Arial;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
}

.notebook {
   background-image: url("../images/kelly-sikkema-dgVSuJu58C0-unsplash.jpg");
  background-size: cover;
  background-position: center;

  width: 800px;
  min-height: 700px;
  padding: 4rem 3rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.05);
  background-blend-mode: lighten;
  border-radius: 80px;
}

p {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.todo-grid, 
.todo-input-grid{
  display:grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
}

.todo-input-grid {
  margin-bottom: 10px;
  align-items: stretch;
}

.name-input,
.due-date-input {
  font-size: 15px;
  padding: 6px;
}

.js-add-todo-button {
  background-color: green;
  color:white;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

.js-delete-todo-button {
  background-color: darkred;
  color:white;
  border: none;
  font-size: 15px;
  cursor: pointer;
  padding: 10px;
}